$size__site-main: 100%;
$size__site-sidebar: 25%;

body {
	@include colors ($black, $white);
}

body.home main {
	@include colors ($black, $white);
}

body.single-feature-films main {
	@include colors ($offblack, $white);
}


div.wrapper {
	.element {
	  @include container();
	}
}

div.row,
nav {
	@include row();
}

// NAV 
header {
	@include container();
	@include padding-margin(0, 0);
}

// HOMEPAGE
div.hero {
	padding: 25%;
	height: 100vh;
}

div.festival-blurb {
	.element {
	  @include row();
	}
}

// INDIVIDUAL FILM PAGE
section.film {
	@include padding-margin(92px 0 86px 0, 0);
	@include row();
}

div.trailer {
	@include row();
	iframe {
		width: 100%;
		height: 250px;
		border: 2px solid $white;
		border-radius: 3px;
	}
}

// SLIDER
body.home section.slider {
	@include colors ($offblack, $white);
}

body.single-feature-films section.slider {
	@include colors ($black, $white);
}

// BUTTON
section.button {
	@include colors ($offblack, $white);
}