// FONTS

@font-face {
    font-family: 'Orbitron';
    font-style: regular;
    font-weight: 500;
    src: url('fonts/Orbitron/Orbitron-Regular.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Orbitron/Orbitron-Regular.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Orbitron/Orbitron-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Orbitron';
    font-style: bold;
    font-weight: 700;
    src: url('fonts/Orbitron/Orbitron-Bold.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Orbitron/Orbitron-Bold.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Orbitran/Orbitran-Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Orbitron';
    font-style: black;
    font-weight: 900;
    src: url('fonts/Orbitron/Orbitron-Black.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Orbitron/Orbitron-Black.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Orbitron/Orbitron-Black.ttf') format('truetype'); 
}



@font-face {
    font-family: 'Comfortaa';
    font-style: light;
    font-weight: 300;
    src: url('fonts/Comfortaa/Comfortaa-Light.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Comfortaa/Comfortaa-Light.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Comfortaa/Comfortaa-Regular.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Comfortaa/Comfortaa-Regular.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Comfortaa/Comfortaa-Bold.ttf'); /* IE9 Compat Modes */
    src: url('fonts/Comfortaa/Comfortaa-Bold.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'); 
}


$font-family--header: "Orbitron", sans-serif;
$font-family--body	: "Comfortaa", sans-serif;

// Font Weights
$font-weight--light 	: 300;
$font-weight--normal 	: 500;
$font-weight--bold	 	: 700;
$font-weight--black	 	: 900;

// Base Colours

$black			: rgba(9, 13, 26, 1.00);
$offblack		: rgba(15, 18, 32, 1.00);
$white			: rgba(253, 253, 253, 1);
$blue			: rgba(14, 200, 239, 1.00);
$pink			: rgba(200, 9, 141, .7);

$text-shadow: 0px 0px 50px rgba(190, 4, 105, 1.00);

$zindex-minus1	: -1000;
$zindex-plus1	: 1000;
$zindex-2		: 2000;
$zindex-3		: 3000;
$zindex-4		: 4000;
$zindex-5		: 5000;
$zindex-6		: 6000;
$zindex-7		: 7000;
$zindex-8		: 8000;
$zindex-9		: 9000;
$zindex-10		: 10000;


// Mixins

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin font-properties ($family, $weight, $align) {
	font-family: $family;
	font-weight: $weight;
	text-align: $align;
}

@mixin padding-margin ($padding, $margin) {
	padding: $padding;
	margin: $margin;
}

@mixin colors ($background, $color) {
	background: $background;
	color: $color;
}

@mixin flex ($flexflow, $justify-content, $align-content) {
	flex-flow: $flexflow;
	justify-content: $justify-content;
	align-content: $align-content
}

