body.home {
	h1 {
	  position: relative;
	  height: 350px;
	  text-align: left;
	  // display: inline-block;
	}
	span.top {
		position: absolute;
		top: 0;
		left: 50px;
	}
	span.bottom {
	  position: absolute;
	  bottom: 0;
	  right: 150px;
	  text-align: right;
	}
	.skewed {
	    display: inline-block;
	    position: absolute;
	    top: 20px;
	    left: 0px;
	    transform: rotate(-10deg) skew(-18deg, 0);
	}
	
	h2 {
		text-align: right;
	}
	section.slider {
		h4 {
			display: none;
		}
	}
}

div.festival-blurb {
	padding: 0px 20px 100px 20px;
	text-align: center;
	div {
		transform: perspective(400px) rotateX(35deg);
	}
	
}